#greeting {
	width: 400px;
  height: 400px;
  background: #332532;
  border: 8px solid #F77A52;
  color: #F77A52;
  font-family: 'Shrikhand', cursive;
  font-size: 70px;
  padding: 40px;
  text-align: left;
}
#greeting:hover{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
