#greeting {
	width: 400px;
  height: 400px;
  background: #332532;
  border: 8px solid #F77A52;
  color: #F77A52;
  font-family: 'Shrikhand', cursive;
  font-size: 70px;
  padding: 40px;
  text-align: left;
}
#greeting:hover{
	width: 600px;
	height: 600px;
	background: #CAFCD8;
	border: 20px solid #04BFBF;
	color: #04BFBF;
	font-family: 'Shadows Into Light', cursive;
	font-size: 130px;
	line-height: 1;
	padding: 200px 60px 60px 60px;
	text-align: right;
}
